<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Developer Student Club USC - Powered By Google Developers</title>
    <!-- TODO: Combine this statement with the one below it
        SRM Developer Student Club (DSC SRM) is a Google Developers program for SRM IST students to learn mobile and web development skills. -->
    <meta name="description"
        content="Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- jQuery CDN and Popper.js CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <!-- Materialize CDN -->
    <link rel="stylesheet" href="../libs/materialize-v1.0.0/css/materialize.min.css">
    <script src="../libs/materialize-v1.0.0/js/materialize.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

    <!-- OwlCarousel2 -->
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.theme.default.min.css">

    <!-- Open Sans Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet">

    <!-- Font Icons -->
    <script src="https://kit.fontawesome.com/6aec46af78.js"></script>

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">

    <link rel='stylesheet' type='text/css' media='screen' href='../css/team.css'>
</head>

<body>

    <!-- PRELOADER START -->
    <div class="preloader-background">
        <div class="loading">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
        <div class="blinking">
            <p>Loading</p>
        </div>
    </div>
    <!-- PRELOADER END -->

    <!-- NAVBAR START -->
     <div class="navbar-fixed">
        <nav class="whiteNav" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">
                    <div class="center-brand">
                        <img class="dsc-logo" src="../images/dsc-logo-2.png">
                        <span class="dsc-brand hide-on-small-only">&nbsp;&nbsp;DSC USC</span>
                    </div>
                </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="nav-item">
                         <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdqRMSUqP0AwLPbyzpw8-eBwzDfOkiP7meZdddSJOsnRTNCUw/viewform?usp=sf_link">Join</a>
                    </li>
                    <li class="nav-item"><a class="nave-link" href="https://www.linkedin.com/groups/13833873/"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/usc.dsc/"><i
                                class="fab fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://facebook.com/DeveloperStudentClubUSC/"><i
                                class="fab fa-facebook-square"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://discord.gg/4Fe6yEp"><i
                                class="fab fa-discord"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- NAVBAR END -->

    <!-- SIDENAV START -->
    <ul class="sidenav" id="mobile-nav">
        <li><a class="menu-items" href="#AboutUs">About Us</a>
        </li>
        <li><a class="menu-items" href="/events">Events</a></li>
        <li><a class="menu-items" href="/team">Our Team</a></li>
        <li><a class="menu-items" href="#Contact">Contact</a></li>
        <li><a class="menu-items" href="https://docs.google.com/forms/d/e/1FAIpQLSdqRMSUqP0AwLPbyzpw8-eBwzDfOkiP7meZdddSJOsnRTNCUw/viewform?usp=sf_link">Join</a></li> 
        <!--<li><a class="menu-items" href="https://www.instagram.com/usc.dsc/"><i
                                class="fab fa-instagram"></i></a></li>
        <li><a class="menu-items" href="https://facebook.com/DeveloperStudentClubUSC/"><i
                                class="fab fa-facebook-square"></i></a></li>
        <li><a class="menu-items" href="https://discord.gg/4Fe6yEp"><i
                                class="fab fa-discord"></a></li>-->
    </ul>
    <!-- SIDENAV END -->

    <!-- LANDING START -->
    <div id="Home" class="header-section scrollspy">
        <div class="landing-section">
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div id="slide1" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide2" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide3" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <!-- <div class="item">
                    <div id="slide4" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide5" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide6" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="landing-container container">
            <h2 class="landing-title">About the Team</h2>
            <p class="landing-desciption">The goal of the DSC USC team is to create a student community of passionate and fervent
                developers using the latest technologies such as cloud computing, machine learning, big data, web, and app development,
                etc. through interactive and free workshops. We collaborate to provide students with exceptional opportunities to 
                attend amazing events and make a meaningful impact on their communities. </p>
        </div>
    </div>
    <!-- LANDING END -->

    <!-- CONTENT START -->
    <div class="main">

        <div id="particles-js"></div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <!-- TEAM ROSTER START -->
        <div class="team-roster-section">
            <div class="container">
                <h2 class="team-roster-title center-align">Core Team</h2>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4 offset-l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Ziyi.png"/>
                                <p class="card-title">Ziyi Wu</p>
                                <p class="card-subtitle team-lead">DSC Lead</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/ziyiwuxyz/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                                <!--<a id="portfolio" href="https://alexandermgarcia.com"><i
                                        class="fas fa-globe social-icons"></i></a>
                                <a id="github" href="https://github.com/djauxel"><i
                                        class="fab fa-github social-icons"></i></a>
                                <a id="instagram" href="https://www.instagram.com/alexnlt9"><i
                                        class="fab fa-instagram social-icons"></i></a>-->
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I'm a junior computer science major working as a research assistant in the RESL and INK labs. I'm also a CP for CSCI 170. I'm a huge fan of board games and one of the people pushing for a Magic the Gathering community as USC. Please feel free to say hi on Discord or if you seem me in class! 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Abhishek Chhabra.png"/>
                                <p class="card-title">Abhishek Chhabra</p>
                                <p class="card-subtitle technical-lead-web">Technical Lead (Web)</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/abhishek-ac/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I'm a software engineer and graduate student who is passionate about using code for social good. I dream to be one of the developers who finds life on another planet 🚀</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/shweta.png"/>
                                <p class="card-title">Shweta</p>
                                <p class="card-subtitle technical-lead-web">Technical Lead (Web)</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="http://www.linkedin.com/in/shweta-usc" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Hi I'm a graduate student studying Computer Science. I love coding and building software solutions that solve real world problems. Here to help!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Behram.png"/>
                                <p class="card-title">Behram Buhariwala</p>
                                <p class="card-subtitle technical-lead-web">Technical Lead (Web)</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/behram-buhariwala/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Part time coder, Part time foodie :) I am looking forward to working with DSC this year to help the community using some awesome Google tech. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/DK.png"/>
                                <p class="card-title">DK Lee</p>
                                <p class="card-subtitle technical-lead-ml">Technical Lead (AI/ML)</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/dk-lee-/" target="__blank"><i 
                                    class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I am an M.S. Computer Science student. I am currently a research assistant for Professor Fehder and Professor Raffiee. The project deals with parameter estimation on unlabeled data, implementing convex optimization algorithms, and deep learning. Outside of academics, I like to watch and play basketball.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/SamuelSommerer.png"/>
                                <p class="card-title">Sam Sommerer</p>
                                <p class="card-subtitle technical-lead-ml">Technical Lead (AI/ML)</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/samuel-sommerer/" target="__blank"><i 
                                    class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Hi! I'm a sophomore double majoring in Computer Science and Quantitative Biology. Besides DSC, my involvements include CAIS++ and the ICAROS Lab. Outside of academics, I'm a huge soccer fan and love watching my team (Everton FC) disappoint me season after season. I'm excited about teaching machine learning technologies! </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Vaishnavi Manjunath.png"/>
                                <p class="card-title">Vaishnavi Manjunath</p>
                                <p class="card-subtitle technical-lead-industry">Technical Lead (Industry)</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/vaishnavi-manjunath/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I'm a graduate student pursuing Computer Science. Apart from course work, I am involved with VGSA as the CS Department Senator. I have previously interned with Goldman Sachs, Morgan Stanley, and also co-founded a fin-tech startup in India.
                                    I have been practicing and performing Indian Classical dance for over a decade and also love cooking. Looking forward to creating a change and contributing to the DSC Community positively.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Ishu Agrawal.png"/>
                                <p class="card-title">Ishu Agrawal</p>
                                <p class="card-subtitle events-lead">Events Lead</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/ishu-agrawal-165171169/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I'm a freshman studying Computer Science, and I love Mario video games and the stock market.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Raymond Cheung.png"/>
                                <p class="card-title">Raymond Cheung</p>
                                <p class="card-subtitle events-lead">Events Lead</p>
                            </div>
                           <div class="card-action center-align">
                                <a id="linkedin" href="/team"><i
                                    class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/samiksha gumbhir.png"/>
                                <p class="card-title">Samiksha Gumbhir</p>
                                <p class="card-subtitle events-lead">Events Lead</p>
                            </div>
                           <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/samiksha-gumbhir-430913194/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Kaushik Tandon.png"/>
                                <p class="card-title">Kaushik Tandon</p>
                                <p class="card-subtitle projects-lead">Projects Lead</p>
                            </div>
                           <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/kaushik-tandon/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I'm currently a senior majoring in Computer Engineering and Computer Science. I'm a huge sports fan - love to watch and follow football/basketball/baseball/tennis. I have been a SWE intern at Google twice, so feel free to reach out if you have any questions!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Brian Femminella.png"/>
                                <p class="card-title">Brian Femminella</p>
                                <p class="card-subtitle projects-lead">Projects Lead</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/brianfemminella/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I’m currently a junior at USC pursuing Cyber Intelligence and Political Science. I’ve always had a natural affinity in computer security and how I can use my technical knowledge to understand cyber law. During the pandemic, I started my own company (SoundMind) to focus on creating technical solutions for those struggling with PTSD, depression, and anxiety. 
                                    <br/>I currently serve as a cadet in the United States Army Reserves Officer Training Corps in Southern California.<br/>Today, Not Someday!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/nicole - L Zhuan.png"/>
                                <p class="card-title">Nicole Liu</p>
                                <p class="card-subtitle public-relations-lead">Public Relations Lead</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/nicole-liu-2b853b177/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Yong Shin.png"/>
                                <p class="card-title">Yong Shin</p>
                                <p class="card-subtitle marketing-lead">Marketing Lead</p>
                            </div>
                           <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/yong-shin-50b560158" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Hi, I'm currently a junior studying Computer Science. I love to experiment with new things and find new hobbies. In my free time, I enjoy being active, getting outside and hiking, watching Netflix, playing games, and finding something delicious to eat! Feel free to reach out if you have any questions!! :) 
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Jieyun Li.png"/>
                                <p class="card-title">Jieyun Li</p>
                                <p class="card-subtitle treasurer">Treasurer</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jieyun-li-651586172/" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I am a junior studying Computer Science and Applied Mathematics. I love exploring new things and going to Art museums. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team z-depth-3 activator"
                                    src="../images/profiles/Washington Zhao.png"/>
                                <p class="card-title">Washington Zhao</p>
                                <p class="card-subtitle webmaster">Webmaster</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/washingtonzhao" target="__blank"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I’m currently a junior at USC pursuing Computer Science. Outside of coding I love music, specifically EDM and I DJ/produce on the side for fun. Outside of DSC, I'm also heavily involved in the entrepreneurship ecosystem here at USC as part of Spark SC.
                                    <br/><br/>My name Washington comes from a tour guide brochure at the hospital where I was born :) </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<h2 class="team-roster-title center-align">Team</h2>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Emanuel Ordonez</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/emanuel-ordonez-951678165"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Uma Nair</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/nairuma"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Shane Ghuste</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/shane-ghuste-b9266518b"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Jack Liu</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jack-liu-2019"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Gabriela Rojas</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/gabriela00rojas"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Benjamin Ombeni</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/benjamin-ombeni-355489170"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Alexander Nider</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="#"><i class="fab fa-discord social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Veronica Ung</p>
                                <p class="card-subtitle team-member">Creatives Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/veronica-ung-53317a169"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="../images/profiles/brandon_mendoza.jpg">
                                <p class="card-title">Brandon Mendoza</p>
                                <p class="card-subtitle team-member">Creatives Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/brandon-mendoza-55a17a169"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">James Bertel</p>
                                <p class="card-subtitle team-member">PR Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jamesbertel"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Nicole Perey</p>
                                <p class="card-subtitle team-member">Business Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/nicole-perey-7a1399188"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Jasmine Doctolero</p>
                                <p class="card-subtitle team-member">Business Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jasmine-b-doctolero"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- TEAM ROSTER START -->

        <!-- CONTACT START -->
        <div id="Contact" class="contact-section scrollspy">
            <div class="container contact-text-area">
                <div class="row">
                    <div class="col m12 offset-m1 s12 l12 fix-padding">
                        <div class="row">
                            <div class="col s12 m12 l12 offset-m1">
                                <div class="card white-card">
                                    <div class="card-content">
                                    	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8nN-R7mIb5OvtDkr4rBIoxZslL6I9AFGBA6YqMNlBlWpFwQ/viewform?embedded=true" width="2000" height="1000" frameborder="0" marginheight="0" marginwidth="0" class="col s10 offset-s1 m10 offset-m1 l10 offset-l1">>Loading…</iframe>
                                        <!--<h2 class="contact-title text-gray center-align">Send us a message</h2>
                                        <form id="gform" method="POST" data-email="uscdeveloperstudentclub@gmail.com"
                                            action="https://script.google.com/macros/s/AKfycbymN37DuSZMOo3GwvmlydHegcJNMOFAIpGC3VT9vjonM8ckEsE/exec">
                                            <div class="row contact-form">
                                                <div class="input-field col s12">
                                                    <input id="name" name="name" type="text" required>
                                                    <label for="name">Name</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="email" name="email" type="email" class="form-input"
                                                        required>
                                                    <label for="email">Email</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="subject" name="subject" type="text" class="form-input"
                                                        required>
                                                    <label for="subject">Subject</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <textarea id="message" name="message" class="materialize-textarea"
                                                        required></textarea>
                                                    <label for="message">Message</label>
                                                </div>
                                                <p class="center-align"><input class="btn contact-submit" type="submit"
                                                        value="Submit"></input></p>
                                            </div>
                                        </form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   <div id="Contact" class="contact-section contact-width scrollspy">
            <div class="container contact-text-area">
                <div class="row">
                    <div class="col m10 offset-m1 s12">
                        <h2 class="contact-title text-gray center-align"></h2>
                        <br><br><br>
                        <div class="row">
                        

                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8nN-R7mIb5OvtDkr4rBIoxZslL6I9AFGBA6YqMNlBlWpFwQ/viewform?embedded=true" width="100" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                            
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScY5Oa57v2VUSv5NhkVe4GXtm7u0XuBGqDbBYwhCBAeVcd9ng/viewform?embedded=true" width="100" height="1000" frameborder="0" marginheight="0" marginwidth="0" class="col s8 offset-s2 m8 offset-m2">>Loading…</iframe>
                            <form id="gform" method="POST" class="col s8 offset-s2 m8 offset-m2"
                                data-email="uscdeveloperstudentclub@gmail.com"
                                action="https://script.google.com/macros/s/AKfycbymN37DuSZMOo3GwvmlydHegcJNMOFAIpGC3VT9vjonM8ckEsE/exec">
                                <div class="row contact-form">
                                    <div class="input-field col s12">
                                        <input id="name" name="name" type="text" required>
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="email" name="email" type="email" class="form-input" required>
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="subject" name="subject" type="text" class="form-input" required>
                                        <label for="subject">Subject</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="message" name="message" class="materialize-textarea"
                                            required></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                    <p class="center-align"><input class="btn contact-submit" type="submit"
                                            value="Submit"></input></p>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- CONTACT START -->

    
    <!-- CONTENT END -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <footer class="footer-section">
        <
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="text-gray footer-title">DSC USC - Powered by Google Developers</h5>
                    <p class="text-gray footer-location">University of Southern California
                        <br>Los Angeles, CA 90007, USA
                    </p>
                </div>
            </div>
            <!-- <div class="row footer-social-media-title">
                    <h2 class="social-media-title">Follow us on</h2>
                </div> -->
            <div class="row">
                <div class="row">
                    <h2 class="social-media-title text-gray">Follow us on</h2>
                    <div class="footer-social-media">
                        <!--<a class="linkedin"
                            href="https://www.linkedin.com/company/developer-student-club-csu-san-marcos"><i
                                class="fab fa-linkedin-in"></i></a>-->
                        <a class="instagram" href="https://www.instagram.com/usc.dsc/"><i
                                class="fab fa-instagram"></i></a>
                        <a class="twitter" href="facebook.com/DeveloperStudentClubUSC/"><i class="fab fa-facebook-square"></i></a>
                        <a class="discord" href="https://discord.gg/5hGng9"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-gray">
            <div class="container">
                <h6>Made with&nbsp;<i class="fas fa-heart footer-love"></i>&nbsp;and <i
                        class="fas fa-code footer-code"></i></h3>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <script src='../js/team.js'></script>
    <script src='../js/particles.js'></script>
    <script src="../libs/OwlCarousel2-2.3.4/js/owl.carousel.min.js"></script>
</body>

</html>