<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Developer Student Club USC - Powered By Google Developers</title>
    <!-- TODO: Combine this statement with the one below it
        SRM Developer Student Club (DSC SRM) is a Google Developers program for SRM IST students to learn mobile and web development skills. -->
    <meta name="description"
        content="Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- jQuery CDN and Popper.js CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <!-- Materialize CDN -->
    <link rel="stylesheet" href="../libs/materialize-v1.0.0/css/materialize.min.css">
    <script src="../libs/materialize-v1.0.0/js/materialize.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

    <!-- OwlCarousel2 -->
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../libs/OwlCarousel2-2.3.4/css/owl.theme.default.min.css">

    <!-- Open Sans Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet">

    <!-- Font Icons -->
    <script src="https://kit.fontawesome.com/6aec46af78.js"></script>

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">

    <link rel='stylesheet' type='text/css' media='screen' href='../css/team.css'>
</head>

<body>

    <!-- PRELOADER START -->
    <div class="preloader-background">
        <div class="loading">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
        <div class="blinking">
            <p>Loading</p>
        </div>
    </div>
    <!-- PRELOADER END -->

    <!-- NAVBAR START -->
     <div class="navbar-fixed">
        <nav class="whiteNav" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">
                    <div class="center-brand">
                        <img class="dsc-logo" src="../images/dsc-logo-2.png">
                        <span class="dsc-brand hide-on-small-only">&nbsp;&nbsp;DSC USC</span>
                    </div>
                </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="nav-item">
                         <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdqRMSUqP0AwLPbyzpw8-eBwzDfOkiP7meZdddSJOsnRTNCUw/viewform?usp=sf_link">Join</a>
                    </li>
                    <li class="nav-item"><a class="nave-link" href="https://www.linkedin.com/groups/13833873/"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/usc.dsc/"><i
                                class="fab fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://facebook.com/DeveloperStudentClubUSC/"><i
                                class="fab fa-facebook-square"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://discord.gg/4Fe6yEp"><i
                                class="fab fa-discord"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- NAVBAR END -->

    <!-- SIDENAV START -->
    <ul class="sidenav" id="mobile-nav">
        <li><a class="menu-items" href="#AboutUs">About Us</a>
        </li>
        <li><a class="menu-items" href="/events">Events</a></li>
        <li><a class="menu-items" href="/team">Our Team</a></li>
        <li><a class="menu-items" href="#Contact">Contact</a></li>
        <li><a class="menu-items" href="https://docs.google.com/forms/d/e/1FAIpQLSdqRMSUqP0AwLPbyzpw8-eBwzDfOkiP7meZdddSJOsnRTNCUw/viewform?usp=sf_link">Join</a></li> 
        <!--<li><a class="menu-items" href="https://www.instagram.com/usc.dsc/"><i
                                class="fab fa-instagram"></i></a></li>
        <li><a class="menu-items" href="https://facebook.com/DeveloperStudentClubUSC/"><i
                                class="fab fa-facebook-square"></i></a></li>
        <li><a class="menu-items" href="https://discord.gg/4Fe6yEp"><i
                                class="fab fa-discord"></a></li>-->
    </ul>
    <!-- SIDENAV END -->

    <!-- LANDING START -->
    <div id="Home" class="header-section scrollspy">
        <div class="landing-section">
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div id="slide1" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide2" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide3" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide4" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide5" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="item">
                    <div id="slide6" class="slideImg">
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-container container">
            <h2 class="landing-title">About the Team</h2>
            <p class="landing-desciption">The goal of the DSC USC team is to create a student community of passionate and fervent
                developers using the latest technologies such as cloud computing, machine learning, big data, web, and app development,
                etc. through interactive and free workshops. We collaborate to provide students with exceptional opportunities to 
                attend amazing events and make a meaningful impact on their communities. </p>
        </div>
    </div>
    <!-- LANDING END -->

    <!-- CONTENT START -->
    <div class="main">

        <div id="particles-js"></div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <!-- TEAM ROSTER START -->
        <div class="team-roster-section">
            <div class="container">
                <h2 class="team-roster-title center-align">Core Team</h2>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4 offset-l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Kevin.jpg">
                                <p class="card-title">Kevin Lee</p>
                                <p class="card-subtitle team-lead">DSC Lead</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/kevin0813/"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                                <!--<a id="portfolio" href="https://alexandermgarcia.com"><i
                                        class="fas fa-globe social-icons"></i></a>
                                <a id="github" href="https://github.com/djauxel"><i
                                        class="fab fa-github social-icons"></i></a>
                                <a id="instagram" href="https://www.instagram.com/alexnlt9"><i
                                        class="fab fa-instagram social-icons"></i></a>-->
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I’m currently a junior at USC pursuing Computer Science. I’ve always had a natural affinity in computers and just recently, I worked on the Mars Rover at NASA Jet Propulsion Laboratory. I also am training everyday as a cadet in the United States Army Reserves Officer Training Corps. With great power comes great responsibility.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Julia.jpg">
                                <p class="card-title">Julia Green</p>
                                <p class="card-subtitle team-lead">Vice President</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/julia-green-880939154"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I’m a Communications major and Experience Design minor who is interested in the intersection of design and technology.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Sunbeam.jpg">
                                <p class="card-title">Sunbeam Kim</p>
                                <p class="card-subtitle faculty-advisor">Chief of Staff</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.instagram.com/beam_of_the_sun/?hl=en"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I am from Corvallis, Oregon and currently a sophomore studying political science with a minor in history. Looking forward to helping out the local communities surrounding USC and in Los Angeles</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src=../images/profiles/Justin.jpg>
                                <p class="card-title">Justin Lee</p>
                                <p class="card-subtitle public-relations-lead">Community Impact Chair</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/justinjlee24/"><i 
                                    class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Hi! I'm currently a Masters in Social Work candidate at USC with a specialization in military social work. I'm concurrently serving in the California National Guard as a commissioned officer and at the Los Angeles Mayor's Office of Veterans Affairs as a graduate fellow. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src=../images/profiles/Olivia.jpg>
                                <p class="card-title">Olivia Sanchez</p>
                                <p class="card-subtitle public-relations-lead">Community Impact Chair</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/olivia-dk-sanchez/"><i 
                                    class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I am a senior at USC majoring in International Relations and minoring in Culture, Media, and Entertainment. I wanted to join DSC because I wanted to help build solutions for the local LA community and also empower students with the knowledge of using Google Services. I love being in nature such as hiking  and going to the beach in my free time. I also have a passion for photography.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Behram.jpg">
                                <p class="card-title">Behram Buhariwala</p>
                                <p class="card-subtitle technical-lead">Chief Technology Officer</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/behram-buhariwala/"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Part time coder, Part time foodie :) I am looking forward to working with DSC this year to help the community using some awesome Google tech. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/DK.jpg">
                                <p class="card-title">DK Lee</p>
                                <p class="card-subtitle technical-lead">Chief Technology Officer</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/dk-lee-/"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I am an M.S. Computer Science student. I am currently a research assistant for Professor Fehder and Professor Raffiee. The project deals with parameter estimation on unlabeled data, implementing convex optimization algorithms, and deep learning. Outside of academics, I like to watch and play basketball. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Angelina.jpg">
                                <p class="card-title">Angelina Zhang</p>
                                <p class="card-subtitle secretary">Secretary</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/angelina-zhang-951995193"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Hi! I’m a freshman studying the World Bachelor of Business in Marshall. I’m really interested in technology and want to utilise it to help the community around me.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Adyant.jpg">
                                <p class="card-title">Adyant Agarwal</p>
                                <p class="card-subtitle team-member">Treasurer</p>
                            </div>
                           <div class="card-action center-align">
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>Sophomore studying Applied Mathematics at USC. Completed high school and India, and came to the US to learn about emerging technologies and gain perspectives. After college, I aspire to work in finance and eventually use my skills to help my family business in India. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Neil.jpg">
                                <p class="card-title">Neil Jolly Malayil</p>
                                <p class="card-subtitle team-member">PR Coordinator</p>
                            </div>
                           <div class="card-action center-align">
                                <a id="instagram" href="https://www.instagram.com/hyperboy_007/"><i
                                        class="fab fa-instagram social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>More than a PR Coordinator for DSC, I'm your buddy who you can talk to, comment on issues/ideas about the group, and other things in general as well. My favorite show and game is The Punisher and Forza Horizon! What about you?</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img-core-team circle z-depth-3 activator"
                                    src="../images/profiles/Ziyi.jpg">
                                <p class="card-title">Ziyi Wu</p>
                                <p class="card-subtitle team-member">PR Coordinator</p>
                            </div>
                           <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/ziyiwuxyz/"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title reveal-title grey-text text-darken-4">About Me<i
                                        class="material-icons right">close</i></span>
                                <p>I'm a sophomore Computer Science student. In my free time, I enjoy learning more about computer science, watching TV shows and movies, and playing board games.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<h2 class="team-roster-title center-align">Team</h2>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Emanuel Ordonez</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/emanuel-ordonez-951678165"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Uma Nair</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/nairuma"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Shane Ghuste</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/shane-ghuste-b9266518b"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Jack Liu</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jack-liu-2019"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Gabriela Rojas</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/gabriela00rojas"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Benjamin Ombeni</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/benjamin-ombeni-355489170"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Alexander Nider</p>
                                <p class="card-subtitle team-member">Technical Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="#"><i class="fab fa-discord social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Veronica Ung</p>
                                <p class="card-subtitle team-member">Creatives Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/veronica-ung-53317a169"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="../images/profiles/brandon_mendoza.jpg">
                                <p class="card-title">Brandon Mendoza</p>
                                <p class="card-subtitle team-member">Creatives Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/brandon-mendoza-55a17a169"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">James Bertel</p>
                                <p class="card-subtitle team-member">PR Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jamesbertel"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Nicole Perey</p>
                                <p class="card-subtitle team-member">Business Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/nicole-perey-7a1399188"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m8 offset-m2 l4">
                        <div class="card white-card">
                            <div class="card-content black-text">
                                <img class="card-img circle z-depth-3" src="https://via.placeholder.com/125x125">
                                <p class="card-title">Jasmine Doctolero</p>
                                <p class="card-subtitle team-member">Business Member</p>
                            </div>
                            <div class="card-action center-align">
                                <a id="linkedin" href="https://www.linkedin.com/in/jasmine-b-doctolero"><i
                                        class="fab fa-linkedin-in social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- TEAM ROSTER START -->

        <!-- CONTACT START -->
        <div id="Contact" class="contact-section scrollspy">
            <div class="container contact-text-area">
                <div class="row">
                    <div class="col m12 offset-m1 s12 l12 fix-padding">
                        <div class="row">
                            <div class="col s12 m12 l12 offset-m1">
                                <div class="card white-card">
                                    <div class="card-content">
                                    	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8nN-R7mIb5OvtDkr4rBIoxZslL6I9AFGBA6YqMNlBlWpFwQ/viewform?embedded=true" width="2000" height="1000" frameborder="0" marginheight="0" marginwidth="0" class="col s10 offset-s1 m10 offset-m1 l10 offset-l1">>Loading…</iframe>
                                        <!--<h2 class="contact-title text-gray center-align">Send us a message</h2>
                                        <form id="gform" method="POST" data-email="uscdeveloperstudentclub@gmail.com"
                                            action="https://script.google.com/macros/s/AKfycbymN37DuSZMOo3GwvmlydHegcJNMOFAIpGC3VT9vjonM8ckEsE/exec">
                                            <div class="row contact-form">
                                                <div class="input-field col s12">
                                                    <input id="name" name="name" type="text" required>
                                                    <label for="name">Name</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="email" name="email" type="email" class="form-input"
                                                        required>
                                                    <label for="email">Email</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="subject" name="subject" type="text" class="form-input"
                                                        required>
                                                    <label for="subject">Subject</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <textarea id="message" name="message" class="materialize-textarea"
                                                        required></textarea>
                                                    <label for="message">Message</label>
                                                </div>
                                                <p class="center-align"><input class="btn contact-submit" type="submit"
                                                        value="Submit"></input></p>
                                            </div>
                                        </form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   <div id="Contact" class="contact-section contact-width scrollspy">
            <div class="container contact-text-area">
                <div class="row">
                    <div class="col m10 offset-m1 s12">
                        <h2 class="contact-title text-gray center-align"></h2>
                        <br><br><br>
                        <div class="row">
                        

                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8nN-R7mIb5OvtDkr4rBIoxZslL6I9AFGBA6YqMNlBlWpFwQ/viewform?embedded=true" width="100" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                            
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScY5Oa57v2VUSv5NhkVe4GXtm7u0XuBGqDbBYwhCBAeVcd9ng/viewform?embedded=true" width="100" height="1000" frameborder="0" marginheight="0" marginwidth="0" class="col s8 offset-s2 m8 offset-m2">>Loading…</iframe>
                            <form id="gform" method="POST" class="col s8 offset-s2 m8 offset-m2"
                                data-email="uscdeveloperstudentclub@gmail.com"
                                action="https://script.google.com/macros/s/AKfycbymN37DuSZMOo3GwvmlydHegcJNMOFAIpGC3VT9vjonM8ckEsE/exec">
                                <div class="row contact-form">
                                    <div class="input-field col s12">
                                        <input id="name" name="name" type="text" required>
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="email" name="email" type="email" class="form-input" required>
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="subject" name="subject" type="text" class="form-input" required>
                                        <label for="subject">Subject</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="message" name="message" class="materialize-textarea"
                                            required></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                    <p class="center-align"><input class="btn contact-submit" type="submit"
                                            value="Submit"></input></p>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- CONTACT START -->

    
    <!-- CONTENT END -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <footer class="footer-section">
        <
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="text-gray footer-title">DSC USC - Powered by Google Developers</h5>
                    <p class="text-gray footer-location">University of Southern California
                        <br>Los Angeles, CA 90007, USA
                    </p>
                </div>
            </div>
            <!-- <div class="row footer-social-media-title">
                    <h2 class="social-media-title">Follow us on</h2>
                </div> -->
            <div class="row">
                <div class="row">
                    <h2 class="social-media-title text-gray">Follow us on</h2>
                    <div class="footer-social-media">
                        <!--<a class="linkedin"
                            href="https://www.linkedin.com/company/developer-student-club-csu-san-marcos"><i
                                class="fab fa-linkedin-in"></i></a>-->
                        <a class="instagram" href="https://www.instagram.com/usc.dsc/"><i
                                class="fab fa-instagram"></i></a>
                        <a class="twitter" href="facebook.com/DeveloperStudentClubUSC/"><i class="fab fa-facebook-square"></i></a>
                        <a class="discord" href="https://discord.gg/5hGng9"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-gray">
            <div class="container">
                <h6>Made with&nbsp;<i class="fas fa-heart footer-love"></i>&nbsp;and <i
                        class="fas fa-code footer-code"></i></h3>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <script src='../js/team.js'></script>
    <script src='../js/particles.js'></script>
    <script src="../libs/OwlCarousel2-2.3.4/js/owl.carousel.min.js"></script>
</body>

</html>